<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
    <meta name="apple-mobile-web-app-capable" content="true" />
    <meta name="viewport" content="user-scalable=1.0,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,width=device-width" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="format-detection" content="telephone=no" />
    <script src="libs/jquery-min.js"></script>
    <script src="libs/underscore-min.js"></script>
    <script src="libs/backbone-min.js"></script>
    <script src="libs/backbone.dualstorage.js"></script>
    <script src="libs/moment-min.js"></script>
    <link rel="stylesheet" href="css/style-light.css">
    <script id='local_main'>

      function submitSigninForm(action) {
          if (document.loginform.firstname.value.length == 0 || document.loginform.lastname.value.length == 0) {
              document.getElementById("errors").innerHTML = 'Firstname and Lastname fields cannot be blank';
              document.getElementById("errors").style.display = 'block';
              if (document.loginform.firstname.value.length == 0)
                    document.getElementById("firstname").style.borderColor = '#cc0000';
              if (document.loginform.lastname.value.length == 0)
                    document.getElementById("lastname").style.borderColor = '#cc0000';
          } else {
            //document.getElementById('loginform').submit();
              if (action === "index.php") {
                    var $sigdiv = $('#signature')            
                    var data = $sigdiv.jSignature('getData', "svgbase64")
                    //$('signature_value', $tools).val(data.join(','))
                    //$.publish(pubsubprefix + data[0], data);
                    document.forms["loginform"].signature_value.value = data;
                    document.forms["loginform"].submit();
                } else if (action === "signout.php") {
                    document.loginform.action = 'signout.php';
                    document.forms['loginform'].submit();                  
                }
            }
        }
        
        function resetSigninForm() {
            $("#signature").jSignature("reset");
            document.forms["loginform"].reset();
            $("#datefieldrequiredmsg").removeClass("datefieldmsgshow");
            $("#datefieldrequiredmsg").addClass("datefieldhide");
            $('#dob').removeClass('datefieldshow');
            $('#dob').addClass('datefieldhide');
            $('#services-container').html('');
            $('#services-outer-container').hide();
            $('#signature').show();
            $('#nameFields').show();
            //$('#buttonscontainer').show();
        }
        
        $('#signature').keypress(function(e) {
            console.log(e.which);
        });
        


      function submitRegistrationForm(action) {
          if (document.registerform.firstname.value.length == 0 || document.registerform.lastname.value.length == 0) {
              document.getElementById("errors").innerHTML = 'Firstname and Lastname fields cannot be blank';
              document.getElementById("errors").style.display = 'block';
              if (document.registerform.firstname.value.length == 0)
                    document.getElementById("firstname").style.borderColor = '#cc0000';
              if (document.registerform.lastname.value.length == 0)
                    document.getElementById("lastname").style.borderColor = '#cc0000';
          } else {
              if (action === "index.php") {
                    var $sigdiv = $('#signature')
                    var data = $sigdiv.jSignature('getData', "svgbase64")
                    //$('signature_value', $tools).val(data.join(','))
                    //$.publish(pubsubprefix + data[0], data);
                    document.forms["registerform"].signature_value.value = data;
                    document.forms["registerform"].submit();
                } else if (action === "signout.php") {
                    document.registerform.action = 'signout.php';
                    document.forms['registerform'].submit();                  
                }
            }
        }
        
        function resetRegistrationForm() {
            document.forms["registerform"].reset();
        }
        
        function displayRegister() {
            $('#signincontainer')[0].hidden=true;
            $('#registercontainer')[0].hidden=false;
        }

        function displaySignin() {
            $('#registercontainer')[0].hidden=true;
            $('#signincontainer')[0].hidden=false;
        }
                
    </script>
    <script lang="text/template" id='signin-template'>
    </script>
    <script type='text/template' id='services-template'>
            <%=provider_name%>: <%= service_name %> (<%if (remaining_appts >= 0) { %><%=remaining_appts%> appointments remaining<% } else { %><%=-remaining_appts%> appointments had<% } %>)
    </script>
    <div id='errordiv'></div>
</head>
<body>
    <header><h1 id='site_header'>Physiotherapy and Rehabilitation Centres of Ontario</h1></header>
    <div id='top_spacer'></div>
    <!--div><p align=center id="errors"></p></div-->

    <div id='registercontainer' class='registercontainer'>
        <form name='registerform' id='registerform' action="index.php" method="POST">
            <h3>Already Registered? <a href='#' onclick="displaySignin();" class='attention-link'>GO TO SIGN IN</a></h3>
            <input id='regfirstname' class='inputls' maxlength='20' name="firstname" type="text" placeholder="FIRST NAME" value="">
            <input id='reglastname' class='inputls' maxlength='20' name="lastname" type="text" placeholder="LAST NAME" value="">
            <label id='datefieldmsg'>date of birth</label>
            <div id="regdob" class="datefieldshow">
                <input id="regyear" name='dob_year' type="tel" maxlength="4" placeholder="YYYY" value=""/>/
                <input id="regmonth" name='dob_month' type="tel" maxlength="2" placeholder="MM" value=""/>/
                <input id="regday" name='dob_day' type="tel" maxlength="2" placeholder="DD" value=""/>
            </div>
            <div id="registerbuttonscontainer" class="registercontainer" align=center>
                <div id='registerbtn' class='buttonsls' align=center>
                    <label class='button-label' register="signin">Register</label>
                </div>
                <div id='clearbtn' class='buttonsls' onclick='resetRegistrationForm();'>
                    <label href="#" value="Reset" class='button-label'>Clear</label>
                </div>
            </div>            
            <div id="registerpleasewait" align="center" class="pleasewaithidden">
                <label style="font-size: 24px; font-weight: 100;">Registering, please wait...</label>
            </div>        
        </form>
    </div>
    
    <div id='signincontainer'>
    <h3>Haven't got an account yet?  <a href='#' onclick="displayRegister();" class='attention-link'>REGISTER</a> first</h3>
    <form name='loginform' id='loginform'>
        <div class='signincontainer' id='nameFields'>
            <input id='firstname' class='inputls' maxlength='20' name="firstname" type="text" placeholder="First Name" value="">
            <input id='lastname' class='inputls' maxlength='20' name="lastname" type="text" placeholder="Last Name" value="">

            <div id="dob" class="datefieldhide">
                <input id="year" name='dob_year' type="tel" maxlength="4" placeholder="YYYY" value=""/>/<input id="month" name='dob_month' type="tel" maxlength="2" placeholder="MM" value=""/>/<input id="day" name='dob_day' type="tel" maxlength="2" placeholder="DD" value=""/>
            </div>
            <label id='datefieldrequiredmsg' class="datefieldhide">please enter your date of birth</label>
        </div>
        <div class="signincontainer" id="services-outer-container" style="width:680px">
            <div class="signincontainer" id="services-inner-container" style="width:600px"></div>
            <div id='finished' class='buttonsls' align=center>
                <label class='button-label' data-url="signin">Finished</label>
            </div>
            <div id='cancelbtn' class='buttonsls' onclick='resetSigninForm();' align=center>
                <label class='button-label' data-url="signin">Cancel</label>
            </div>
        </div>
        <div id="signatureparent" style='text-align:center; color:#FFFFFF'>        
          <div id="signature" style='text-align:center; color:mediumblue' tabindex="3">Sign Here</div>
        </div>

        <div class="signincontainer" id="buttonscontainer" align=center>
            <div id='signinbtn' class='buttonsls' align=center>
                <label class='button-label' data-url="signin">Sign In</label>
            </div>
            <div id='signoutbtn' class='buttonsls' align=center>
                <label class='button-label' href="#">Sign Out</label>
            </div>
            <div id='clearbtn' class='buttonsls' onclick='resetSigninForm();'>
                <label href="#" value="Reset" class='button-label'>Clear</label>
            </div>
        </div>
        <div id="pleasewait" align="center" class="pleasewaithidden">
            <label style="font-size: 24px; font-weight: 100;">Signing in/out, please wait...</label>
        </div>
    </form>
    </div>
    <div id='offlinediv' class='offlinedivhide'><img id='offline' src="images/offline.png" /></div>
    <div class='copyright'>Copyright &copy; 2015 by Fadi Hafez. All rights reserved.</div>

    <script src="libs/modernizr.js"></script>
    <script src="src/jSignature.js"></script>

    <script src="src/plugins/jSignature.CompressorBase30.js"></script>
    <script src="src/plugins/jSignature.CompressorSVG.js"></script>
    <script src="libs/jSignature.min.js"></script>
    <script src="libs/errors.js"></script>
    <script src="js/allModels.js"></script>
    <script src="js/allCollections.js"></script>
    <script src="js/signin.js"></script>
    <script src="js/register.js"></script>

    <script type="text/javascript">
        $(document).ready(function() {
            var $sigdiv = $("#signature").jSignature({lineWidth:1});
            $('#services-outer-container').hide();
            $(document).bind('touchmove', false);
            $('#registercontainer')[0].hidden=true;
        });
    </script>

</body>
</html>
